/bin/
.gradle
/build/
/gradle/wrapper/*
gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
/src/main/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


